@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #414141 #2d2d2d;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #2d2d2d;
}

*::-webkit-scrollbar-thumb {
  background-color: #414141;
  border-radius: 20px;
  border: 3px solid #414141;
}

::selection {
  color: var(--secondary);
  background: var(--primary);
}

.control-layout {
  align-items: center;
  display: grid;
  grid-template-columns: 30px 1fr 60px;
  min-width: 12.5rem;
}